<style>
    .example{
        padding-top: 0;
    }
</style>
<?php
$this->headScript()->captureStart();
//SUCCESS - URL RETORNO
echo "url_form = '" . $this->basePath() . "/school/user/form/';";
//UPLOAD
echo "url_upload = '" . $this->basePath() . "/school/upload';";

$this->headScript()->captureEnd();

if (isset($this->user)):
    $img = $this->user->getUsrPicture();
    if (!empty($img)):

        $img = $this->basePath() . $this->user->getUsrPicture();
        $this->inlineScript()->captureStart();
        echo <<< BCK
      $('#userpic').css('background-image', 'url("$img")', 'background-size', '100% 100%');
      $('#userpic').css( 'background-size', '100% 100%');
BCK;
        $this->inlineScript()->captureEnd();
        
    endif;
endif;
?>
<script>
    var examples = [];
</script>
<!-- breadcrumbs -->
<nav id="breadcrumbs">
    <ul>
        <li><span class="el-icon-return-key"></span></li>
        <li><a href="<?php echo $this->url('school'); ?>">Painel de controle</a></li>
        <li><a href="<?php echo $this->url('school-user-list'); ?>">Lista de cadastros</a></li>
        <li><a href="<?php echo $this->url('school-user-form', array('id' => $this->userID)); ?>">Formulário</a></li>
    </ul>
</nav>
<!-- main content -->
<div id="main_wrapper">
    <div class="container-fluid">



    <form action="<?php  echo $this->url('upload-school');   ?>" enctype="multipart/form-data" method="post">
        <input type="file" name="filedata"/>
        <input type="hidden" name="user" value="<?php  echo $this->userID;    ?>"/>
        <button type="submit">Enviar post</button>
    </form>




        <div id="error_upload" class="row">
            <div id="error_container"class="col-lg-6">
            </div>
        </div>
        <div class="example">
            <div class="row" style="padding: 10px;">
                <p><h4>Selecione uma imagem(jpg/png) com tamanho máximo de (2MB) ou (2048KB).<br> Click em upload e aguarde o término do upload.</h4> </p>
            </div>
        </div>
        <div class="example">
            <div class="example__left" style="padding-top:10px">
                <div id="userpic" class="userpic">
                    <div class="js-preview userpic__preview"></div>
                    <div class="btn btn-success js-fileapi-wrapper">
                        <div class="js-browse">
                            <span class="btn-txt">Selecione</span>
                            <input type="file" name="filedata"/>
                            <input type="hidden" name="user" value="<?php echo $this->userID; ?>"/>
                            <input type="hidden" name="teste" value="3"/>
                        </div>
                        <div class="js-upload" style="display: none;">
                            <div class="progress progress-success"><div class="js-progress bar"></div></div>
                            <span class="btn-txt">Uploading</span>
                        </div>
                    </div>
                </div>
            </div>
            <script src="/assets/js_custon/jquery-fileapi-config.js"></script>
        </div>
        <div class="example">
            <div class="example__left" style="padding-top:10px">
                <div id="webcam" class="webcam">
                    <div class="js-preview webcam__preview"></div>
                    <div class="btn btn-success">
                        <div class="js-webcam">
                            <span class="btn-txt">Webcam</span>
                            <input type="file" name="filedata"/>
                            <input type="hidden" name="user" value="<?php echo $this->userID; ?>"/>
                            <input type="hidden" name="teste" value="3"/>
                        </div>
                        <div class="js-upload" style="display: none;">
                            <div class="progress progress-success"><div class="js-progress bar"></div></div>
                            <span class="btn-txt">Uploading</span>
                        </div>
                    </div>
                </div>
            </div>

            <script src="/assets/js_custon/jquery-fileapi-config2.js"></script>
        </div>
        <div class="clearfix"></div>
        <div id="popup" class="popup" style="display: none;">
            <div class="popup__body"><div class="js-img"></div></div>
            <div style="margin: 0 0 5px; text-align: center;">
                <div class="js-upload btn btn_browse btn_browse_small">Upload</div>
            </div>
        </div>
    </div>
</div>


<!-- jQuery -->
<script src="/assets/js/jquery.min.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.js"></script>
<!-- jQuery Cookie -->
<script src="/assets/js/jqueryCookie.min.js"></script>
<!-- Bootstrap Framework -->
<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
<!-- retina images -->
<script src="/assets/js/retina.min.js"></script>
<!-- fastclick -->
<script src="/assets/js/fastclick.min.js"></script>
<!-- Yukon Admin functions -->
<script src="/assets/js/yukon_all2.js"></script>
<!-- page specific plugins -->
<!--
    Files Plugin UploadAPI
-->
<script>!window.jQuery && document.write('<script src="/jquery-fileapijs/jquery.dev.js"><' + '/script>');</script>
<script src="//yandex.st/highlightjs/7.2/highlight.min.js"></script>
<script src="//yandex.st/jquery/easing/1.3/jquery.easing.min.js"></script>
<script>
    var FileAPI = {
        debug: true
        , media: true
        , staticPath: './FileAPI/'
    };
</script>
<script src="<?php echo $this->basePath(); ?>/jquery-fileapi/FileAPI/FileAPI.min.js"></script>
<script src="<?php echo $this->basePath(); ?>/jquery-fileapi/FileAPI/FileAPI.exif.js"></script>
<script src="<?php echo $this->basePath(); ?>/jquery-fileapi/jquery.fileapi.js"></script>
<script src="<?php echo $this->basePath(); ?>/jquery-fileapi/jcrop/jquery.Jcrop.min.js"></script>
<script src="<?php echo $this->basePath(); ?>/jquery-fileapi/statics/jquery.modal.js"></script>
<script src="/assets/js_custon/jquery-fileapi-config3.js"></script>