<?php
try {
    $adm = $this->Identity('SchoolAdminAuth');
} catch (Exception $exc) {
    // echo $exc->getTraceAsString();
    echo ' <div  style="color: yellow;"><h4><strong>' . $exc->getMessage() . '</strong></h4></div>';
    die();
}
$scl   = $this->heperSchoolFactory()->getSclName();
$sclId = $this->heperSchoolFactory()->getSclId();
if (empty($adm->getUsrPicture())):
    $picture = $this->basePath() . '/images/default.png';
else:
    $picture = $this->basePath() . $adm->getUsrPicture();
endif;
?>
<header id="main_header">
    <div class="container-fluid">
        <div class="brand_section">
            <a href="<?php echo $this->url('site'); ?>"><img src="<?php echo $this->basePath(); ?>/images/logo.png" alt="site_logo" width="200" height="26"></a>
        </div>
        <ul class="header_notifications clearfix">

        </ul>
        <div class="header_user_actions dropdown">
            <div data-toggle="dropdown" class="dropdown-toggle user_dropdown">
                <div class="user_avatar">
                    <img src="<?php echo $picture; ?>" alt="" title="<?php echo $adm->getUsrName(); ?>" width="38" height="38">
                 <!--<img src="<?php // echo $this->basePath();     ?>/assets/img/avatars/avatar08_tn.png" alt="" title="Carrol Clark (carrol@example.com)" width="38" height="38">-->
                </div>
                <span class="caret"></span>
            </div>
            <ul class="dropdown-menu dropdown-menu-right">
                <li><?php echo '[' . $sclId . ']' . $scl; ?></li>
                <li role="separator" class="divider"></li>
                <li><?php echo '[' . $adm->getUsrId() . ']' . $adm->getUsrName(); ?></li>
                <li role="separator" class="divider"></li>
                <li><a href="<?php echo $this->url('school-user-form', array('id' => $adm->getUsrId())); ?>">Perfil</a></li>
                <li><a href="<?php echo $this->url('school-user-password'); ?>">Password</a></li>
                <li><a href="<?php echo $this->url('school-auth-logout') ?>">Sair</a></li>
            </ul>
        </div>
    </div>
</header>