<?php echo $this->doctype(); ?>

<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <?php echo $this->headTitle('DSS Dance School System')->setSeparator(' - ')->setAutoEscape(false) ?>

        <?php
        echo $this->headMeta()
                ->appendName('description', 'Sistema de gerenciamento para escola de dança')
                ->appendName('keywords', 'Sistema, Escola, Dança, Academia, Online, João Carlos, Programa')
                ->appendName('author', 'João Carlos')
                ->appendName('viewport', 'width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
                ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
        ?>

        <?php
        echo $this->headLink(array('rel' => 'shortcut icon', 'type' => $this->basePath() . '/image/vnd.microsoft.icon', 'href' => $this->basePath() . '/images/favicon.ico'))
                ->prependStylesheet($this->basePath() . '/assets/css/myStyle.css')
                ->prependStylesheet($this->basePath() . '/assets/lib/jBox-0.3.0/Source/jBox.css') //NOTIFICAÇÂO
                ->prependStylesheet($this->basePath() . '/assets/lib/jBox-0.3.0/Source/themes/NoticeBorder.css')//NOTIFICAÇÂO
                ->prependStylesheet($this->basePath() . '/assets/css/main.min.css')
                ->prependStylesheet('http://fonts.googleapis.com/css?family=Open+Sans&amp;subset=latin,latin-ext')
                ->prependStylesheet($this->basePath() . '/assets/lib/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css')
                ->prependStylesheet($this->basePath() . '/assets/icons/flags/flags.css')
                ->prependStylesheet($this->basePath() . '/assets/icons/elusive/css/elusive-webfont.css')
                ->prependStylesheet($this->basePath() . '/assets/icons/elegant/style.css')
                ->prependStylesheet($this->basePath() . '/assets/bootstrap/css/bootstrap.min.css')
                ->prependStylesheet($this->basePath() . '/jquery-fileapi/jcrop/jquery.Jcrop.min.css')
                ->prependStylesheet($this->basePath() . '/jquery-fileapi/statics/main.css')
                ->prependStylesheet('//fonts.googleapis.com/css?family=Roboto:300');
        ?>

        <!-- Scripts -->
        <?php
        echo $this->headScript()
                ->prependFile($this->basePath() . '/assets/js_custon/global.js')
                ->prependFile($this->basePath() . '/assets/js/moment.min.js')
                ->prependFile($this->basePath() . '/assets/js/moment-with-langs.min.js')
                ->prependFile($this->basePath() . '/js/respond.min.js', 'text/javascript', array('conditional' => 'lt IE 9',))
                ->prependFile($this->basePath() . '/js/html5shiv.js', 'text/javascript', array('conditional' => 'lt IE 9',));

        ?>

        <!-- Force latest IE rendering engine or ChromeFrame if installed -->
        <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <![endif]-->
    </head>
    <body class="side_menu_active side_menu_expanded">
        <div id="page_wrapper">
            <?php
             include 'header.phtml';
            echo $this->content;
            ?>

        </div> <!-- /container -->
        <?php echo $this->inlineScript() ?>
    </body>
</html>
